@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

body {
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5vh 5fr 3vh;
    gap: 0px 0px;
    grid-template-areas:
        "header header header"
        "container container container"
        "footer footer footer";
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #153466;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.header .header-title{
    font-size: 90%;
    color: rgb(214, 211, 211);
}

.header .header-home{
    text-decoration: none;
    font-size: 90%;
    color: rgb(214, 211, 211);
    transition: ease .4s all;
}
.header .header-home:hover{
    font-size: 100%;
    font-weight: bold;
    text-decoration: underline;
}
.container {
    grid-area: container;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    grid-area: footer;
    background-color: #262626;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.footer p{
    font-size: 75%;
    text-align: center;
    color: rgb(214, 211, 211);
}

/* --- End of base CSS */

.container{
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden; 
    margin: 0;
    position: relative;
}

.bg{
    background: url('https://images.unsplash.com/photo-1576161787924-01bb08dad4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80') no-repeat center center/cover;
    position: absolute;
    top: -30;
    left: -30; 
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(70px);
}

.loading-text{
    font-size: 100px;
    color: #fff;
}