@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

:root{
    --primary-color: #153466;
}

body {
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5vh 5fr 3vh;
    gap: 0px 0px;
    grid-template-areas:
        "header header header"
        "container container container"
        "footer footer footer";
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.header .header-title{
    font-size: 90%;
    color: rgb(214, 211, 211);
}

.header .header-home{
    text-decoration: none;
    font-size: 90%;
    color: rgb(214, 211, 211);
    transition: ease .4s all;
}
.header .header-home:hover{
    font-size: 100%;
    font-weight: bold;
    text-decoration: underline;
}
.container {
    grid-area: container;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer {
    grid-area: footer;
    background-color: #262626;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.footer p{
    font-size: 75%;
    text-align: center;
    color: rgb(214, 211, 211);
}

/* --- End of base CSS */
.container {
    display: flex;
    width: 90vw;
}

.container h3{
    position: fixed;
    top: 10%;
    font-family: 'Raleway', sans-serif;
    font-size: 200%;
}

.menu{
    display: flex;
    margin: 10px;
}

.project-title, .home{
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    margin: 10px;
    
}

ol {
    list-style: none; 
    counter-reset: li
}

li::before {
    content: counter(li)'.'; 
    color: var(--primary-color);
    display: inline-block; 
    width: 2.5em;
    margin-left: -1em;
    font-size: 75%;
}



.list{
    position: absolute;
    top: 20%;
    left: 30%;
    width: 50vw;
    height: 60vh;
    overflow: scroll;
}

li{
    counter-increment: li;
    font-family: 'Muli', sans-serif;
    font-size: 24px;
}

li a,
li a:visited{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: .3s ease;
}

li a:hover,
li a:focus{
    font-size: 110%;
    outline: none;
}

li a:active{
    text-decoration: none;
    transform: scale(0.98);
    color: blue;
}