@import url('https://fonts.googleapis.com/css2?family=Muli&family=Oswald&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5vh 5fr 3vh;
    gap: 0px 0px;
    grid-template-areas:
        "header header header"
        "container container container"
        "footer footer footer";
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #153466;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.header .header-title {
    font-size: 90%;
    color: rgb(214, 211, 211);
}

.header .header-home {
    text-decoration: none;
    font-size: 90%;
    color: rgb(214, 211, 211);
    transition: ease .4s all;
}

.header .header-home:hover {
    font-size: 100%;
    font-weight: bold;
    text-decoration: underline;
}

.container {
    grid-area: container;
}

.footer {
    grid-area: footer;
    background-color: #262626;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.footer p {
    font-size: 75%;
    text-align: center;
    color: rgb(214, 211, 211);
}

/* --- End of base CSS */

.container {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

h3 {
    margin-bottom: 0;
    text-align: center;
}

small {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.fa-heart {
    color: red;
}

.loveMe {
    height: 440px;
    width: 300px;
    background: url('https://source.unsplash.com/random/400x400') no-repeat center center/cover;
    margin: auto;
    cursor: pointer;
    max-width: 100%;
    position: relative;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.25);
}

.loveMe .fa-heart{
    position: absolute;
    animation: grow 0.6s linear;
    transform: translate(-50%,-50%) scale(0);
}

@keyframes grow{
    to{
        transform: translate(-50%,-50%) scale(10);
        opacity: 0;
    }
}