@import url('https://fonts.googleapis.com/css2?family=Muli&family=Lato:300,400&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5vh 5fr 3vh;
    gap: 0px 0px;
    grid-template-areas:
        "header header header"
        "container container container"
        "footer footer footer";
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #153466;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.header .header-title{
    font-size: 90%;
    color: rgb(214, 211, 211);
}

.header .header-home{
    text-decoration: none;
    font-size: 90%;
    color: rgb(214, 211, 211);
    transition: ease .4s all;
}
.header .header-home:hover{
    font-size: 100%;
    font-weight: bold;
    text-decoration: underline;
}
.container {
    grid-area: container;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer {
    grid-area: footer;
    background-color: #262626;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.footer p{
    font-size: 75%;
    text-align: center;
    color: rgb(214, 211, 211);
}

/* --- End of base CSS */

.container{
    background: #efefbb;
    background: linear-gradient(to right, #d4d3dd, #efefbb);
}

h1{
    letter-spacing: 3px;
}

.poke-container{
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon{
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100,100,100,0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.pokemon .img-container{
    background-color: rgba(255,255,255,0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
}

.pokemon .img-container img{
    max-width: 90%;
    margin-top: 20px;
}

.pokemon .info{
    margin-top: 20px;
}

.pokemon .info .number{
    background-color: rgba(0,0,0,0.1);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8em;
}

.pokemon .info .name{
    margin: 15px 0 7px;
    letter-spacing: 1px;
}