@import url('https://fonts.googleapis.com/css2?family=Muli&family=Heebo:wght@300&display=swap');

:root{
    --primary-color: #000;
    --secondary-color: #fff;
}

html{
    transition: all 0.5s ease-in;
}

html.dark{
    --primary-color: #fff;
    --secondary-color: #333;
}

html.dark{
    background-color: #111;
    color: var(--primary-color);
}

body {
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5vh 5fr 3vh;
    gap: 0px 0px;
    grid-template-areas:
        "header header header"
        "container container container"
        "footer footer footer";
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #153466;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.header .header-title{
    font-size: 90%;
    color: rgb(214, 211, 211);
}

.header .header-home{
    text-decoration: none;
    font-size: 90%;
    color: rgb(214, 211, 211);
    transition: ease .4s all;
}
.header .header-home:hover{
    font-size: 100%;
    font-weight: bold;
    text-decoration: underline;
}
.container {
    grid-area: container;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer {
    grid-area: footer;
    background-color: #262626;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.footer p{
    font-size: 75%;
    text-align: center;
    color: rgb(214, 211, 211);
}

/* --- End of base CSS */

.container{
    font-family: 'Heebo', sans-serif;
}

.toggle{
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    top: 100px;
}

.toggle:focus{
    outline: none;
}

.clock-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clock{
    position: relative;
    width: 200px;
    height: 200px;
}

.needle{
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    transform-origin: bottom center;
    transition: all 0.5s ease;
}

.needle.hour{
    transform: translate(-50%,-100%) rotate(0deg);
}

.needle.minute{
    transform: translate(-50%,-100%) rotate(0deg);
    height: 100px;
}

.needle.second{
    transform: translate(-50%,-100%) rotate(0deg);
    height: 100px;
    background-color: #e74c3c;
}

.center-point{
    background-color: #E74C3C;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.center-point::after{
    content: '';
    background-color: var(--primary-color);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.time{
    font-size: 60px;
}

.date{
    color: #aaa;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.date .circle{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    transition: all 0.5s ease-in;
    font-size: 12px;
}