@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5vh 5fr 3vh;
    gap: 0px 0px;
    grid-template-areas:
        "header header header"
        "container container container"
        "footer footer footer";
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #153466;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.header .header-title{
    font-size: 90%;
    color: rgb(214, 211, 211);
}

.header .header-home{
    text-decoration: none;
    font-size: 90%;
    color: rgb(214, 211, 211);
    transition: ease .4s all;
}
.header .header-home:hover{
    font-size: 100%;
    font-weight: bold;
    text-decoration: underline;
}
.container {
    grid-area: container;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fd;
}

.footer {
    grid-area: footer;
    background-color: #262626;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.footer p{
    font-size: 75%;
    text-align: center;
    color: rgb(214, 211, 211);
}

/* --- End of base CSS */

.content{
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    overflow: hidden;
    width: 300px;
}

.title{
    margin: 0;
}

.subtitle{
    display: inline-block;
    margin: 5px 0 20px;
    opacity: 0.8;
}

.content-header{
    background-color: #3e57db;
    color: #fff;
    padding: 30px 20px;
}

.content-header input{
    background-color: rgba(0,0,0,0.3);
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
    width: 100%;
}

.content-header input:focus{
    outline: none;
}

.user-list{
    background-color: #fff;
    list-style-type: none;
    margin: 0;
    max-height: 400px;
    overflow-y: auto;
    padding: 0;
}

.user-list li{
    display: flex;
    padding: 20px;
}

.user-list img{
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.user-list .user-info{
    margin-left: 10px;
}

.user-list .user-info h4{
    margin: 0 0 10px;
}

.user-list .user-info p {
    font-size: 12px;
}

.user-list li:not(:last-of-type){
    border-bottom: 1px solid #eee;
}

.user-list .hide{
    display: none;
}