@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


:root{
    --border-color: #144f66;
    --fill-color: #6ab3f8;
}

body {
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5vh 5fr 3vh;
    gap: 0px 0px;
    grid-template-areas:
        "header header header"
        "container container container"
        "footer footer footer";
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #153466;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.header .header-title{
    font-size: 90%;
    color: rgb(214, 211, 211);
}

.header .header-home{
    text-decoration: none;
    font-size: 90%;
    color: rgb(214, 211, 211);
    transition: ease .4s all;
}
.header .header-home:hover{
    font-size: 100%;
    font-weight: bold;
    text-decoration: underline;
}
.container {
    grid-area: container;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer {
    grid-area: footer;
    background-color: #262626;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.footer p{
    font-size: 75%;
    text-align: center;
    color: rgb(214, 211, 211);
}

/* --- End of base CSS */

.container{
    font-family: 'Montserrat', sans-serif;
    background-color: #3494e4;
    color: #fff;
    

}

h1{
    margin: 10px 0 0;
}

h3{
    font-weight: 400;
    margin: 10px 0;
}

.cup{
    background-color: #fff;
    border: 4px solid var(--border-color);
    color: var(--border-color);
    border-radius: 0 0 40px 40px;
    height: 330px;
    width: 150px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

.cup.cup-small{
    width: 50px;
    height: 95px;
    border-radius: 0 0 15px 15px;
    background-color: rgba(255,255,255,0.9);
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    transition: 0.3s ease;
}

.cup.cup-small.full{
    background-color: var(--fill-color);
    color: #fff;
}

.cups{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 280px;
}

.remained{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    transition: 0.3s ease;
}

.remained span{
    font-size: 20px;
    font-weight: bold;
}

.remained small{
    font-size: 12px;
}

.percentage{
    background-color: var(--fill-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    height: 0;
    transition: 0.3s ease;
}

.text{
    text-align: center;
    margin: 0 0 5px;
}